html,
body {
    height: 100%;
}

body {
    padding-top: 70px; 
	background-color:#FFF;
}



.carousel {
    height: 40%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
	margin:0 auto;
}


.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

 
 


.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

footer {
    padding: 30px 0;
}

.navbar-inverse .navbar-nav>li>a{color:#009933;}
.navbar-inverse .navbar-nav>li>a:hover{color:#009933; text-decoration:underline;}


.navbar-inverse {
  background-color: #FFF;
  border-color: #FFF;
}

.item img{ }

a,a:hover{ color:#009933;}
.carousel-inner, .navbar-fixed-bottom{ background-color: #324331;}
h1,h2,h3,h4,h5{color: #060;}

.navbar-fixed-bottom{  
  text-align: center;
  padding-top: 15px;}

.col1 img{ text-align:center;}
.col1 div{ margin-bottom:10px;}

	
.financiamento{
	background-color:#f3f3f3;
	margin-top:20px;
	padding:10px 0;
}
.col-xs-3{ width:30%;}
.col-xs-9{ width:65%;}
.col-xs-3{ min-width:160px;}

.cadastro form{
	 background-color:#D2FFDE;
	 margin-top:-10px;
	 padding:10px;
}
.cadastro img{ margin:10px 0;}
.navbar-fixed-bottom p{ color:white;}

.col{
	padding:20px;
}

.navbar-brand img{  width: 400px;}

.navbar-fixed-top .nav {
  padding: 25px 0 10px 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #324331;
}

/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */



/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 40%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
	margin:0 auto;
}

/* Background images are set within the HTML using inline CSS, not here */






@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
@media(max-width:768px) {

	.navbar-brand img{  width: 285px;}
}




