
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #009933;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.link_menu_sup {
	color: #009933;
	text-decoration: none;
	font-size: 12px;
}
.link_menu_sup:hover {
	color: #FF6600;
	text-decoration: underline;
}
.link_seguros {
	color: #009933;
	text-decoration: none;
	font-size: 12px;
}
.link_seguros:hover {
	color: #009966;
	text-decoration: none;
	font-style: italic;	
}
.fonte_branca12px {
	color: #FFF;
	text-decoration: none;
}
.fonte_grande_verde_cadastro21px {
	color: #060;
	text-decoration: none;
	font-family: "agency FB";
	font-size: 21px;
	font-weight: bold;
}
.fonte_grande_verde_cadastro18px {
	color: #060;
	text-decoration: none;
	font-family: "agency FB";
	font-size: 14px;
	font-weight: bold;
}